<div id="landing">
  <div id="landing-info" class='info-box'>
    <h1 class=<%= I18n.locale %>><%= I18n.t('yama-quest') %></h1>
    <p class=<%= I18n.locale %>>
      <%= I18n.t('landing.text1')%>
    </p>
    <p class=<%= I18n.locale %>>
      <%= I18n.t('landing.text2') %>
    </p>
    <%= link_to explorer_path('百名山') do %>
      <div class="button">
        <p class=<%= I18n.locale %>>
          <%= I18n.t('landing.enter') %>
        </p>
      </div>
    <% end %>
  </div>
</div>